<%= render 'layouts/navbar' %>
<div class="body">
	<h1><%= @artist.id ? 'Edit Artist' : 'Create Artist' %></h1>
	<%= form_for [@billboard, @artist] do |f| %>
		<%= f.text_field :name, required: true, style: "background-color:#e3f2fd; text-align: center;", placeholder: "Artist Name" %>
		<br />
		<%= f.submit %>
	<% end %>
</div>